.delivery {
    margin-bottom: 120px;
}

.delivery-title {
    max-width: 1284px;
    margin-top: 96px;
    font-weight: 400;
    font-size: 44px;
    line-height: 114%;
    text-transform: uppercase;
    color: #414141;
}

.delivery-slider-wrapper {
    margin-top: 40px;
}

.delivery-nav {
    margin-top: 20px;
    position: relative;
    /*top: 150px;*/
    /*transform: translateY(-50%);*/
    /*right: 50px;*/
    display: flex;
    gap: 32px;
    z-index: 20;
}

/* Кнопки */
.delivery-prev,
.delivery-next {
    width: 45px;
    height: 45px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #EAE1D2;
    z-index: 20;
}

.delivery-next {
    position: absolute;
    right: 0;
    top: 0;
}

.deliverySwiper .swiper-slide {
    width: auto; /* важно! чтобы помещалось сколько влезет */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deliverySwiper img {
    width: 164px;
    height: auto;
    display: block;
}

.deliverySwiper p {
    margin-top: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: var(--color-grey-25);
}


.delivery-list p {

}

.delivery-subtitle {
    margin-top: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--color-grey-25);
}

.delivery-menu {
    margin-top: 40px;
    display: flex;
    gap: 13px;
}

.delivery-menu li {
    padding: 0 9.5px 18px 9.5px;
}

.delivery-name {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delivery-name span:first-child {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: var(--color-grey-25);
}

.delivery-name span:nth-child(2) {
    font-weight: 500;
    font-size: 20px;
    line-height: 104%;
    text-align: center;
    color: #414141;
}

.delivery-price {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delivery-price p {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--color-grey-25);
}

.delivery-price button {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    color: #eae1d2;
    display: flex;
    gap: 8px;
    align-items: center;
    border: 1px solid #106d75;
    border-radius: 100px;
    background: #106d75;
    padding: 1px 20px;
    width: 184px;
    height: 60px;
}

@media screen and (max-width: 1919px) {
    .delivery {
        margin-bottom: 120px;
    }

    .delivery-title {
        margin-top: 61px;
        font-weight: 400;
        font-size: 40px;
        line-height: 125%;
        text-transform: uppercase;
        color: #414141;
    }

    .delivery-list {
        margin-top: 32px;
        display: flex;
        gap: 14px;
        flex-wrap: wrap;
    }

    .delivery-list p {
        margin-top: 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
        color: var(--color-grey-25);
    }

    .delivery-subtitle {
        margin-top: 40px;
        font-weight: 400;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: -0.02em;
        text-align: center;
        color: var(--color-grey-25);
    }

    .delivery-menu {
        margin-top: 40px;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }

    .delivery-menu img {
        width: 282px;
        height: 191px;
    }

    .delivery-menu li {
        padding: 0 0 18px 11px;
        display: flex;
        flex-direction: column;
        height: 330px;
    }

    .delivery-name {
        margin-top: 20px;
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    .delivery-name span:first-child {
        font-weight: 500;
        font-size: 20px;
        max-width: 200px;
        line-height: 130%;
        color: var(--color-grey-25);
    }

    .delivery-name span:nth-child(2) {
        font-weight: 500;
        font-size: 20px;
        line-height: 104%;
        text-align: center;
        color: #414141;
    }

    .delivery-price {
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .delivery-price p {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: var(--color-grey-25);
    }

    .delivery-price svg {
        width: 20px;
    }

    .delivery-price button {
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        text-transform: uppercase;
        color: #eae1d2;
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
        border: 1px solid #106d75;
        border-radius: 100px;
        background: #106d75;
        padding: 1px 10px;
        width: 164px;
        height: 40px;
    }
}

@media screen and (max-width: 1000px) {
    .delivery {
        margin-bottom: 100px;
    }

    .delivery-title {
        margin-top: 36px;
        font-weight: 400;
        font-size: 20px;
        line-height: 125%;
        text-transform: uppercase;
        color: #414141;
    }

    .delivery-slider-wrapper {
        margin-top: 20px;
    }

    .delivery-nav {
        margin-top: 0;
        position: relative;
        /*top: 150px;*/
        /*transform: translateY(-50%);*/
        /*right: 50px;*/
        display: flex;
        gap: 32px;
        z-index: 20;
    }

    .delivery-nav svg {
        width: 40px;
    }

    /* Кнопки */
    .delivery-prev,
    .delivery-next {
        width: 58px;
        height: 58px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: #EAE1D2;
        z-index: 20;
    }

    .delivery-next {
        position: absolute;
        right: 0;
        top: 0;
    }

    .deliverySwiper .swiper-slide {
        width: auto; /* важно! чтобы помещалось сколько влезет */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .deliverySwiper img {
        width: 75px;
        height: auto;
        display: block;
    }

    .deliverySwiper p {
        max-width: 75px;
        margin-top: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
    }
    .delivery-list p {

    }

    .delivery-subtitle {
        margin-top: 20px;
        font-weight: 400;
        font-size: 20px;
        line-height: 200%;
        letter-spacing: -0.04em;
        text-align: center;
        color: var(--color-grey-25);
    }

    .delivery-menu {
        margin-top: 20px;
        display: flex;
        gap: 20px;
    }

    .delivery-menu img {
        width: 100%;
        height: 150px;
    }

    .delivery-menu li {
        padding: 0;
    }

    .delivery-menu li {
        height: 200px;
        width: 46%;
    }

    .delivery-name {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .delivery-name span:first-child {
        font-weight: 500;
        font-size: 14px;
        line-height: 149%;
        color: var(--color-grey-25);
    }

    .delivery-name span:nth-child(2) {
        font-weight: 500;
        font-size: 13px;
        line-height: 189%;
        text-align: center;
        color: #414141;
    }

    .delivery-price {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .delivery-price p {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: black;
    }

    .delivery-price svg {
        display: none;
    }

    .delivery-price button {
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        text-transform: uppercase;
        color: #eae1d2;
        display: flex;
        gap: 1px;
        align-items: center;
        border: 1px solid #106d75;
        border-radius: 100px;
        background: #106d75;
        padding: 10px;
        width: 105px;
        height: 29px;
    }

    .delivery-price svg {
        width: 12px;
        height: 12px;
    }
}
