.about {
    margin-top: 33px;
}

.about-mob {
    display: none;
}

.about-img {
    display: flex;
    justify-content: space-between;
}

.about-title {
    margin-top: 109px;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--color-grey-25);
}

.about-desc {
    margin-top: 21px;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--color-grey-33);
}

.about-subtitle {
    margin: 120px auto 0;
    max-width: 1000px;
    font-weight: 400;
    font-size: 76px;
    line-height: 100%;
    letter-spacing: -0.04em;
    text-align: center;
    color: var(--color-grey-25);
}

@media screen and  (max-width: 1919px) {
    .about {
        margin-top: 91px;
    }

    .about-img {
        display: flex;
        justify-content: space-between;
    }

    .about-title {
        margin-top: 40px;
        font-weight: 400;
        font-size: 60px;
        line-height: 100%;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: var(--color-grey-25);
    }

    .about-desc {
        margin-top: 21px;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: var(--color-grey-33);
    }

    .about-subtitle {
        margin: 80px auto 0;
        max-width: 1000px;
        font-weight: 400;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: -0.04em;
        text-align: center;
        color: var(--color-grey-25);
    }
}

@media screen and  (max-width: 1000px) {
    .about {
        margin-top: 42px;
    }

    .about-mob {
        width: 100%;
        display: block;
    }

    .about-img {
        display: none;
    }

    .about-title {
        margin-top: 13px;
        font-weight: 400;
        font-size: 20px;
        line-height: 125%;
        text-transform: uppercase;
        color: var(--color-grey-25);
    }

    .about-desc {
        margin-top: 13px;
        font-weight: 500;
        font-size: 14px;
        line-height: 129%;
        color: var(--color-grey-33);
        margin-bottom: 23px;
    }

    .about-subtitle {
        margin: 20px auto 0;
        max-width: 1000px;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: -0.04em;
        text-align: center;
        color: var(--color-grey-25);
    }
}
