.contacts {
    margin-top: 74px;
    margin-bottom: 120px;
}

.contacts-title {
    font-weight: 400;
    font-size: 60px;
    line-height: 127%;
    letter-spacing: -0.05em;
    color: #414141;
}

.contacts-wrapper {
    margin-top: 104px;
    display: flex;
    justify-content: space-between;
}

.contacts-subtitle {
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #106d75;
}

.contacts-content {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: var(--color-grey-33);
}